# Comment this out if you need to explicitly
# use self-signed certs.
# NOTE: Not necessary if using a '.local' domain
#
# {
# 	local_certs
# }

c.{$DOMAIN}, ce.{$DOMAIN}, c4.{$DOMAIN}, osu.{$DOMAIN}, b.{$DOMAIN}, api.{$DOMAIN}, a.{$DOMAIN} {
	encode gzip
	reverse_proxy * 127.0.0.1:{$APP_PORT} {
		header_up X-Real-IP {remote_host}
	}

	request_body {
		max_size 100MB
	}
}

assets.{$DOMAIN} {
	encode gzip
	root * {$ASSETS_DIRECTORY}
	file_server
}
